extends layout

block content
  .grid.example
    .item.six
      .item.twelve(style="background-image:url(/processing-experiments/#{directory}/#{image})")
      a.button(href="/zip/#{directory}") Download Zip
    .item.six
      pre
        code(class="java")!= codez
