extends layout

block content
  .grid
    each example in examples
      a(href="/example/#{example.directory}")
        .item.four(style="background-image:url(processing-experiments/#{example.directory}/#{example.image})")
