body {
  margin: 0;
  padding: 0;
}

.grid{
  width: 100%;
}

.grid .item{
  float: left;
  height: 0;
  display: inline-block;
  background-position: center center;
  background-size: cover;
}

.grid .item.four{
  width: 25%;
  padding-bottom: 25%;
}
